
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
    background: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -200px right -300px, bottom 350px left -600px;
    font-family: "Be Vietnam Pro", sans-serif;

}

.container {
    width: 100%;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
}

button {
    background-color:  hsl(12, 88%, 59%);
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid hsl(12, 88%, 59%);
    color: hsl(0, 0%, 100%);
}

a {
    text-decoration: none;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
}

.link {
     font-size: 15px; 
}

main {
    width: 100%;
    margin: 20px 0px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    display: flex;
    margin: 20px 70px;
}

.bring {
    font-size: 57px;
    font-weight: 700;
    color: hsl(233, 12%, 13%);
}

p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 24px;
    color:  hsla(233, 12%, 13%, 0.404);
}
.second {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.right {
    display: flex;
    flex-direction: column;
}

h4 {
    display: flex;
    width: 70px;
    align-items: center;
    justify-content: center;
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 8px;
}

.second2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.two {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 80px;
}

.third2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.testi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    margin: 20px;
    padding: 15px;
    background-color: hsla(228, 39%, 23%, 0.030);
    /* width: 80%; */
}

.four {
    background:  hsl(12, 88%, 59%) url(./images/bg-simplify-section-desktop.svg) no-repeat center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px;
}

footer {
    background-color: hsl(233, 12%, 13%);
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: sspace-around;
    padding: 30px 0;
    color: hsl(0, 0%, 100%);
}

.foot {
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}
